// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// This template has no custom styling
// Insert any custom SCSS here!
html, body {
    background: #000;
    color: #fff;
    font-size: calc(100% + 0.15vw);
}

.width-75 {
    width: 75%;
}

.spacer {
    margin-top: 45vh;
}

.show-on-scroll {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

.is-visible {
    opacity: 1;
}

.down_arrow {
    width: 64px;
}

h3 {
    // border-top: 1px solid #fff;
    // padding-top: 32px;
}

.scrolldown {
    opacity: 0.5;
    position: fixed;
    bottom: 32px;
    left: 32px;
    transition: all .2s;

    &:hover {
        opacity: 1;
    }
}

.scrollup {
    position: fixed;
    top: 32px;
    left: 32px;
    color: #666;
}

@media (max-width: 800px) {
    .spacer {
        margin-top: 25vh;
    }

    .width-75 {
        width: 100% !important;
    }
}

@media print {
    .container  {
        margin: 2em;
    }

    .w-75 {
        width: 100% !important;
    }

    .spacer {
        margin-top: 3rem;
    }

    .scrolldown {
        display: none;
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .scrollup {
        display: none;
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}